<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.mapper.PaperMapper">
    <select id="searchByTitle" resultType="com.example.demo.domain.entity.Paper">
        select * from paper where title = #{title};
    </select>
    <select id="searchByAuthor" resultType="com.example.demo.domain.entity.Paper">
        select * from paper where author = #{author};
    </select>
    <select id="searchByKeyword" resultType="com.example.demo.domain.entity.Paper">
        select * from paper;
    </select>
</mapper>