<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.mapper.ShareMapper">
    <insert id="createShare" parameterType="com.example.demo.domain.entity.Share">
        <selectKey keyProperty="shareid" resultType="int" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into share (shareid, shareruserid, sharecontent,sharecreatetime,supportcnt,unsupportcnt)
        values (#{shareid}, #{shareruserid}, #{sharecontent}, #{sharecreatetime},#{supportcnt},#{unsupportcnt})
    </insert>
</mapper>